<form class="" action="/signup" method="post">
  Username: <input type="text" name="username" value="">
  Password: <input type="password" name="password" value="">
  <input type="Submit" name="" value="Submit">
</form>
